<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>calculator.CalculatorStringTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>calculateSingleNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateEmptyResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateTwoToOneToThreeWithTwoCustomDelimiter_expectThree</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateSingleNegativeValue_exception</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateTwoToOneWithNewlines_expectThree</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateTwoToOneWithCustomDelimiter_expectThree</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateTwoToOneWithCustomDelimiterWithLengthTwo_expectThree</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateTwoNegativeValue_exception</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateTwo_expectTwo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateTwoToOne_expectThree</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateTwoToOneThousandOne_Two</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
