<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5a885">  <td>19/11/19 17:10:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorStringTest.calculateEmptyResult()[pri:0, instance:calculator.CalculatorStringTest@100fc185]">calculateEmptyResult</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>19/11/19 17:10:02</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorStringTest.calculateSingleNegativeValue_exception()[pri:0, instance:calculator.CalculatorStringTest@100fc185]">calculateSingleNegativeValue_exception</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>19/11/19 17:10:02</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorStringTest.calculateSingleNumber()[pri:0, instance:calculator.CalculatorStringTest@100fc185]">calculateSingleNumber</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>19/11/19 17:10:02</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorStringTest.calculateTwoNegativeValue_exception()[pri:0, instance:calculator.CalculatorStringTest@100fc185]">calculateTwoNegativeValue_exception</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>19/11/19 17:10:02</td>   <td>92</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorStringTest.calculateTwoToOneThousandOne_Two()[pri:0, instance:calculator.CalculatorStringTest@100fc185]">calculateTwoToOneThousandOne_Two</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>19/11/19 17:10:02</td>   <td>101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorStringTest.calculateTwoToOneToThreeWithTwoCustomDelimiter_expectThree()[pri:0, instance:calculator.CalculatorStringTest@100fc185]">calculateTwoToOneToThreeWithTwoCustomDelimiter_expectThree</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>19/11/19 17:10:02</td>   <td>114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorStringTest.calculateTwoToOneWithCustomDelimiterWithLengthTwo_expectThree()[pri:0, instance:calculator.CalculatorStringTest@100fc185]">calculateTwoToOneWithCustomDelimiterWithLengthTwo_expectThree</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>19/11/19 17:10:02</td>   <td>120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorStringTest.calculateTwoToOneWithCustomDelimiter_expectThree()[pri:0, instance:calculator.CalculatorStringTest@100fc185]">calculateTwoToOneWithCustomDelimiter_expectThree</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>19/11/19 17:10:02</td>   <td>127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorStringTest.calculateTwoToOneWithNewlines_expectThree()[pri:0, instance:calculator.CalculatorStringTest@100fc185]">calculateTwoToOneWithNewlines_expectThree</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>19/11/19 17:10:02</td>   <td>147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorStringTest.calculateTwoToOne_expectThree()[pri:0, instance:calculator.CalculatorStringTest@100fc185]">calculateTwoToOne_expectThree</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>19/11/19 17:10:02</td>   <td>152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorStringTest.calculateTwo_expectTwo()[pri:0, instance:calculator.CalculatorStringTest@100fc185]">calculateTwo_expectTwo</td> 
  <td>main@876563773</td>   <td></td> </tr>
</table>
